NODE_ENV=development
PORT=4000

# Base de datos local (Asegurate de tener PostgreSQL instalado en tu PC, o usar un contenedor Docker)
DATABASE_URL="postgresql://postgres:tu_password@localhost:5432/habitos_local"

JWT_ACCESS_SECRET=supersecret
JWT_REFRESH_SECRET=superrefreshsecret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173

TZ=America/Argentina/Buenos_Aires
DIARY_ENCRYPTION_KEY=80bc32b401aaf62d3ba885ee118baf42d07982579cb2e21d0948932935266ed58

VAPID_PUBLIC_KEY=BIFYULkbbThpnBZamDACVuhCs8SVI2MZgjlZ6kfEjRV-UTUYGeAxQkUnpn_73zDKkS_PuKTI6-QjVpu22hNpTjI
VAPID_PRIVATE_KEY=e-TXBlV1FGPSqwKVHEhfD1-myfC5D3Gh8iT2GIy7cgg
VAPID_CONTACT=mailto:huckalexis0@gmail.com
